# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/

# Envs
.env
.env.*

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo

# PyInstaller
*.spec

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# pytest
.pytest_cache/

# coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Build / distribution
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# DB / SQLite / Alembic
*.db
*.sqlite3
alembic.ini
migrations/

# Docker
*.pid
docker-compose.override.yml

# FastAPI generated static/docs
/static/


# Jupyter Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
